@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Readex Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flip-y {
  transform: scaleY(-1);
}
.flip-x {
  transform: scaleX(-1);
}

article.prose p {
  color: #3c4655;
}

.dark article.prose p {
  color: #c2cfef;
}
